[package]
authors = ['Dock.io']
edition = '2018'
name = 'dock-runtime'
version = '0.13.1'
license = 'Apache-2.0'

[package.metadata.docs.rs]
targets = ['x86_64-unknown-linux-gnu']

[dependencies]
static_assertions = "1.1.0"
smallvec = "1.4.1"
evm = { version = '0.25.0', default-features = false, features = ['with-codec'] }
fiat_filter = { path = '../pallets/fiat_filter', version = '0.1.0', default-features = false }

[dependencies.aura]
default-features = false
package = 'pallet-aura'
version = '3.0.0'
git = "https://github.com/paritytech/substrate.git"
branch = "frontier"

[dependencies.balances]
default-features = false
package = 'pallet-balances'
version = '3.0.0'
git = "https://github.com/paritytech/substrate.git"
branch = "frontier"

[dependencies.codec]
default-features = false
features = ['derive']
package = 'parity-scale-codec'
version = '2.0.0'

[dependencies.frame-executive]
default-features = false
version = '3.0.0'
git = "https://github.com/paritytech/substrate.git"
branch = "frontier"

[dependencies.frame-support]
default-features = false
version = '3.0.0'
git = "https://github.com/paritytech/substrate.git"
branch = "frontier"

[dependencies.grandpa]
default-features = false
package = 'pallet-grandpa'
version = '3.0.0'
git = "https://github.com/paritytech/substrate.git"
branch = "frontier"

[dependencies.randomness-collective-flip]
default-features = false
package = 'pallet-randomness-collective-flip'
version = '3.0.0'
git = "https://github.com/paritytech/substrate.git"
branch = "frontier"

[dependencies.serde]
features = ['derive']
optional = true
version = '1.0.119'

[dependencies.serde-big-array]
optional = true
version = "0.3.0"

[dependencies.sp-api]
default-features = false
version = '3.0.0'
git = "https://github.com/paritytech/substrate.git"
branch = "frontier"

[dependencies.sp-block-builder]
default-features = false
version = '3.0.0'
git = "https://github.com/paritytech/substrate.git"
branch = "frontier"

[dependencies.sp-consensus-aura]
default-features = false
version = '0.9.0'
git = "https://github.com/paritytech/substrate.git"
branch = "frontier"

[dependencies.sp-core]
default-features = false
version = '3.0.0'
git = "https://github.com/paritytech/substrate.git"
branch = "frontier"

[dependencies.sp-inherents]
default-features = false
version = '3.0.0'
git = "https://github.com/paritytech/substrate.git"
branch = "frontier"

[dependencies.sp-io]
default-features = false
version = '3.0.0'
git = "https://github.com/paritytech/substrate.git"
branch = "frontier"

[dependencies.sp-offchain]
default-features = false
version = '3.0.0'
git = "https://github.com/paritytech/substrate.git"
branch = "frontier"

[dependencies.sp-runtime]
default-features = false
version = '3.0.0'
git = "https://github.com/paritytech/substrate.git"
branch = "frontier"

[dependencies.sp-session]
default-features = false
version = '3.0.0'
git = "https://github.com/paritytech/substrate.git"
branch = "frontier"

[dependencies.sp-std]
default-features = false
version = '3.0.0'
git = "https://github.com/paritytech/substrate.git"
branch = "frontier"

[dependencies.sp-transaction-pool]
default-features = false
version = '3.0.0'
git = "https://github.com/paritytech/substrate.git"
branch = "frontier"

[dependencies.sp-version]
default-features = false
version = '3.0.0'
git = "https://github.com/paritytech/substrate.git"
branch = "frontier"

[dependencies.sp-arithmetic]
default-features = false
version = '3.0.0'
git = "https://github.com/paritytech/substrate.git"
branch = "frontier"

[dependencies.frame-system]
default-features = false
version = '3.0.0'
git = "https://github.com/paritytech/substrate.git"
branch = "frontier"

[dependencies.frame-system-rpc-runtime-api]
default-features = false
version = '3.0.0'
git = "https://github.com/paritytech/substrate.git"
branch = "frontier"

[dependencies.timestamp]
default-features = false
package = 'pallet-timestamp'
version = '3.0.0'
git = "https://github.com/paritytech/substrate.git"
branch = "frontier"

[dependencies.transaction-payment]
default-features = false
package = 'pallet-transaction-payment'
version = '3.0.0'
git = "https://github.com/paritytech/substrate.git"
branch = "frontier"

[dependencies.pallet-transaction-payment-rpc-runtime-api]
default-features = false
version = '3.0.0'
git = "https://github.com/paritytech/substrate.git"
branch = "frontier"

[build-dependencies.substrate-wasm-builder]
version = '4.0.0'

[dependencies.pallet-session]
default_features = false
version = '3.0.0'
git = "https://github.com/paritytech/substrate.git"
branch = "frontier"

[dependencies.pallet-sudo]
default_features = false
version = '3.0.0'
git = "https://github.com/paritytech/substrate.git"
branch = "frontier"

[dependencies.pallet-authorship]
default-features = false
version = '3.0.0'
git = "https://github.com/paritytech/substrate.git"
branch = "frontier"

[dependencies.pallet-utility]
default-features = false
version = '3.0.0'
git = "https://github.com/paritytech/substrate.git"
branch = "frontier"

[dependencies.frame-benchmarking]
optional = true
default-features = false
version = '3.0.0'
git = "https://github.com/paritytech/substrate.git"
branch = "frontier"

[dependencies.frame-system-benchmarking]
optional = true
default-features = false
version = '3.0.0'
git = "https://github.com/paritytech/substrate.git"
branch = "frontier"

[dependencies.pallet-collective]
default-features = false
version = '3.0.0'
git = "https://github.com/paritytech/substrate.git"
branch = "frontier"

[dependencies.pallet-membership]
default-features = false
version = '3.0.0'
git = "https://github.com/paritytech/substrate.git"
branch = "frontier"

[dependencies.pallet-scheduler]
default-features = false
version = '3.0.0'
git = "https://github.com/paritytech/substrate.git"
branch = "frontier"

[dependencies.hex-literal]
version = "0.3.1"
optional = true

[dependencies.pallet-evm]
default-features = false
version = '3.0.0'
git = 'https://github.com/paritytech/frontier.git'
rev = 'c0f073fbf577af47a50729952a8a928e3d4465df'
#path = '../../../frontier/frame/evm'

[dependencies.pallet-ethereum]
default-features = false
version = '0.1.0'
git = 'https://github.com/paritytech/frontier.git'
rev = 'c0f073fbf577af47a50729952a8a928e3d4465df'
#path = '../../../frontier/frame/ethereum'

[dependencies.pallet-evm-precompile-simple]
default-features = false
version = '3.0.0'
git = 'https://github.com/paritytech/frontier.git'
rev = 'c0f073fbf577af47a50729952a8a928e3d4465df'

[dependencies.pallet-evm-precompile-sha3fips]
default-features = false
version = '3.0.0'
git = 'https://github.com/paritytech/frontier.git'
rev = 'c0f073fbf577af47a50729952a8a928e3d4465df'

[dependencies.fp-rpc]
default-features = false
version = '0.1.0'
git = 'https://github.com/paritytech/frontier.git'
rev = 'c0f073fbf577af47a50729952a8a928e3d4465df'
#path = '../../../frontier/primitives/rpc'

[dependencies.poa]
default-features = false
path = '../pallets/poa'
version = '0.6.2'

[dependencies.token_migration]
default-features = false
path = '../pallets/token_migration'
version = '0.1.2'

[dependencies.pallet-democracy]
package = 'forked-pallet-democracy'
default-features = false
path = '../pallets/democracy'
version = '2.0.1'

[dependencies.simple_democracy]
default-features = false
path = '../pallets/simple_democracy'
version = '0.0.2'

[dependencies.core_mods]
default-features = false
path = '../pallets/core_mods'
version = '0.1.0'

[dependencies.price_feed]
default-features = false
path = '../pallets/price_feed'
version = '0.0.1'

[dependencies.common]
path = '../common'
version = '0.0.1'

[features]
default = ['std']
std = [
    'aura/std',
    'balances/std',
    'codec/std',
    'frame-executive/std',
    'frame-support/std',
    'frame-benchmarking/std',
    'grandpa/std',
    'randomness-collective-flip/std',
    'serde',
    'serde-big-array',
    'sp-api/std',
    'sp-block-builder/std',
    'sp-consensus-aura/std',
    'sp-core/std',
    'sp-inherents/std',
    'sp-io/std',
    'sp-offchain/std',
    'sp-runtime/std',
    'sp-session/std',
    'sp-std/std',
    'sp-transaction-pool/std',
    'sp-version/std',
    'sp-arithmetic/std',
    'frame-system/std',
    'frame-system-rpc-runtime-api/std',
    'timestamp/std',
    'transaction-payment/std',
    'pallet-transaction-payment-rpc-runtime-api/std',
    'pallet-session/std',
    'pallet-sudo/std',
    'pallet-authorship/std',
    'pallet-utility/std',
    'pallet-collective/std',
    'evm/std',
    'evm/with-serde',
    'pallet-evm/std',
    'pallet-ethereum/std',
    'pallet-evm-precompile-simple/std',
    'pallet-evm-precompile-sha3fips/std',
    'poa/std',
    'token_migration/std',
    'simple_democracy/std',
    'core_mods/std',
    'price_feed/std',
    'fiat_filter/std',
]
runtime-benchmarks = [
  'frame-benchmarking',
  'frame-support/runtime-benchmarks',
  'frame-system/runtime-benchmarks',
  'sp-runtime/runtime-benchmarks',
  'balances/runtime-benchmarks',
  'frame-system-benchmarking',
  'token_migration/runtime-benchmarks',
  'core_mods/runtime-benchmarks',
  'hex-literal',
]

[dev-dependencies]
rand = "0.8.3"
