[package]
authors = ['Dock.io']
edition = '2018'
name = 'dock-runtime'
version = '0.12.4'
license = 'Apache-2.0'

[package.metadata.docs.rs]
targets = ['x86_64-unknown-linux-gnu']

[dependencies]
static_assertions = "1.1.0"
smallvec = "1.4.1"

[dependencies.aura]
default-features = false
package = 'pallet-aura'
version = '2.0.1'

[dependencies.balances]
default-features = false
package = 'pallet-balances'
version = '2.0.1'

[dependencies.codec]
default-features = false
features = ['derive']
package = 'parity-scale-codec'
version = '1.3.4'

[dependencies.frame-executive]
default-features = false
version = '2.0.1'

[dependencies.frame-support]
default-features = false
version = '2.0.1'

[dependencies.grandpa]
default-features = false
package = 'pallet-grandpa'
version = '2.0.1'

[dependencies.randomness-collective-flip]
default-features = false
package = 'pallet-randomness-collective-flip'
version = '2.0.1'

[dependencies.serde]
features = ['derive']
optional = true
version = '1.0.101'

[dependencies.serde-big-array]
optional = true
version = "0.3.0"

[dependencies.sp-api]
default-features = false
version = '2.0.1'

[dependencies.sp-block-builder]
default-features = false
version = '2.0.1'

[dependencies.sp-consensus-aura]
default-features = false
version = '0.8.0'

[dependencies.sp-core]
default-features = false
version = '2.0.1'

[dependencies.sp-inherents]
default-features = false
version = '2.0.1'

[dependencies.sp-io]
default-features = false
version = '2.0.1'

[dependencies.sp-offchain]
default-features = false
version = '2.0.1'

[dependencies.sp-runtime]
default-features = false
version = '2.0.1'

[dependencies.sp-session]
default-features = false
version = '2.0.1'

[dependencies.sp-std]
default-features = false
version = '2.0.1'

[dependencies.sp-transaction-pool]
default-features = false
version = '2.0.1'

[dependencies.sp-version]
default-features = false
version = '2.0.1'

[dependencies.sp-arithmetic]
default-features = false
version = '2.0.1'

[dependencies.frame-system]
default-features = false
version = '2.0.1'

[dependencies.frame-system-rpc-runtime-api]
default-features = false
version = '2.0.1'

[dependencies.timestamp]
default-features = false
package = 'pallet-timestamp'
version = '2.0.1'

[dependencies.transaction-payment]
default-features = false
package = 'pallet-transaction-payment'
version = '2.0.1'

[dependencies.pallet-transaction-payment-rpc-runtime-api]
default-features = false
version = '2.0.1'

[build-dependencies.wasm-builder-runner]
package = 'substrate-wasm-builder-runner'
version = '1.0.5'

[dependencies.pallet-session]
default_features = false
version = '2.0.1'

[dependencies.pallet-sudo]
default_features = false
version = '2.0.1'

[dependencies.pallet-authorship]
default-features = false
version = '2.0.1'

[dependencies.pallet-utility]
default-features = false
version = '2.0.1'

[dependencies.frame-benchmarking]
optional = true
default-features = false
version = '2.0.1'

[dependencies.frame-system-benchmarking]
optional = true
default-features = false
version = '2.0.1'

[dependencies.pallet-collective]
default-features = false
version = '2.0.1'

[dependencies.pallet-membership]
default-features = false
version = '2.0.1'

[dependencies.pallet-scheduler]
default-features = false
version = '2.0.1'

[dependencies.hex-literal]
version = "0.2.1"
optional = true

[dependencies.poa]
default-features = false
path = '../pallets/poa'
version = '0.6.2'

[dependencies.token_migration]
default-features = false
path = '../pallets/token_migration'
version = '0.1.2'

[dependencies.pallet-democracy]
package = 'forked-pallet-democracy'
default-features = false
path = '../pallets/democracy'
version = '2.0.1'

[dependencies.simple_democracy]
default-features = false
path = '../pallets/simple_democracy'
version = '0.0.2'

[features]
default = ['std']
std = [
    'aura/std',
    'balances/std',
    'codec/std',
    'frame-executive/std',
    'frame-support/std',
    'grandpa/std',
    'randomness-collective-flip/std',
    'serde',
    'serde-big-array',
    'sp-api/std',
    'sp-block-builder/std',
    'sp-consensus-aura/std',
    'sp-core/std',
    'sp-inherents/std',
    'sp-io/std',
    'sp-offchain/std',
    'sp-runtime/std',
    'sp-session/std',
    'sp-std/std',
    'sp-transaction-pool/std',
    'sp-version/std',
    'sp-arithmetic/std',
    'frame-system/std',
    'frame-system-rpc-runtime-api/std',
    'timestamp/std',
    'transaction-payment/std',
    'pallet-transaction-payment-rpc-runtime-api/std',
    'pallet-session/std',
    'pallet-sudo/std',
    'pallet-authorship/std',
    'pallet-utility/std',
    'pallet-collective/std',
    'poa/std',
    'token_migration/std',
    'simple_democracy/std',
]
runtime-benchmarks = [
  'frame-benchmarking',
  'frame-support/runtime-benchmarks',
  'frame-system/runtime-benchmarks',
  'sp-runtime/runtime-benchmarks',
  'balances/runtime-benchmarks',
  'frame-system-benchmarking',
  'token_migration/runtime-benchmarks',
  'hex-literal',
]
testnet = []
mainnet = []

[dev-dependencies]
rand = "0.7.3"
