[Mainnet]
localhost

[Ec2Instance]

[Mainnet:vars]
ansible_python_interpreter=<path to python binary, this should match python version on your host>
alarm_lambda_arn=<arn of the AWS lambda function to be called in case of alert>
name="'Test node'"
aws_profile=<AWS profile name>
aws_region=<AWS region>
ssh_key_name=<AWS keypair name>
ssh_key_pub=<AWS keypair public key>

[Ec2Instance:vars]
ansible_ssh_user=ubuntu
ansible_ssh_private_key_file=<path of private key file>
ansible_python_interpreter=<path to python binary, this should match python version on your host>
libp2p_key=<libp2p key of the node with leading 0x>
allow_ext_rpc=true
allow_ext_prom=true
telemetry_url="'wss://telemetry.polkadot.io/submit/ 0'"
reserved_only=false
rotate_session_key=false
bootnodes=['/ip4/<some bootstrap node's ip>/tcp/30333/p2p/<boot node p2p public key>']
pruning=archive
chain_spec_file = <Name of chain spec file present in cspec directory of this repo's root>
docker_image_tag = <Tag of the Docker image to pull>
