[validator]
<validator node ip>

[sentry]
<sentry node ip>

[fullnode]
<full node ip>

[validator:vars]
ansible_ssh_user=ubuntu
ansible_ssh_private_key_file=<path of private key file>
ansible_python_interpreter=<path to python binary, this should match python version on your host>
libp2p_key=<libp2p key of the node with leading 0x>
allow_ext_rpc=false
is_validator=true
#telemetry_url="'wss://telemetry.polkadot.io/submit/ 0'"
reserved_only=true
reserved_nodes=['/ip4/<sentry node ip>/tcp/30333/p2p/<sentry node p2p public key>']
bootnodes=['/ip4/<some bootstrap node's ip>/tcp/30333/p2p/<bootstrap node p2p public key>']
rotate_session_key=false

[sentry:vars]
ansible_ssh_user=ubuntu
ansible_ssh_private_key_file=<path of private key file>
ansible_python_interpreter=<path to python binary, this should match python version on your host>
libp2p_key=<libp2p key of the node with leading 0x>
allow_ext_rpc=false
sentry_of=/ip4/<validator node ip>/tcp/30333/p2p/<validator node p2p public key>
#telemetry_url="'wss://telemetry.polkadot.io/submit/ 0'"
reserved_only=true
reserved_nodes=['/ip4/<validator node ip>/tcp/30333/p2p/<validator node p2p public key>','/ip4/<full node ip>/tcp/30333/p2p/<full node node p2p public key>']
bootnodes=['/ip4/<some bootstrap node's ip>/tcp/30333/p2p/<boot node p2p public key>']
pruning=500

[fullnode:vars]
ansible_ssh_user=ubuntu
ansible_ssh_private_key_file=<path of private key file>
ansible_python_interpreter=<path to python binary, this should match python version on your host>
libp2p_key=<libp2p key of the node with leading 0x>
allow_ext_rpc=true
#telemetry_url="'wss://telemetry.polkadot.io/submit/ 0'"
reserved_only=false
bootnodes=['/ip4/<some bootstrap node's ip>/tcp/30333/p2p/<boot node p2p public key>']
pruning=archive
